@{
    ViewData["Title"] = "Trang thể Loại";
    var mangaList = ViewBag.MangasInPage as List<BTL_WebManga.Areas.Manga.Models.ComicModel>;
    var categoryList = ViewBag.CategoryList as List<BTL_WebManga.Areas.Manga.Models.CategoryModel>;
    var selectedCategories = ViewBag.SelectedCategories as List<string>;
}


<!-- Thể Loại -->
<div class="container-fluid col-md-10 mt-4" >
    <!-- Carousel -->
    <div style="margin-top: -50px;" class="col-11">
        <div style="margin-top: 100px;">
            <h2 class="text-center mb-4">Lọc Thể Loại</h2>

@if (categoryList != null)
{
                <form method="get" asp-action="Index" asp-controller="Category">
                    <div class="row g-2" style="border: 3px solid #ccc; display: flex; flex-wrap: wrap; justify-content: flex-start;">
            @foreach (var item in categoryList)
            {
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-1">
                                <div class="form-check text-center" style="width: 100%;">
                                    <input type="checkbox" class="form-check-input" name="selectedCategories" value="@item.SlugCategory" id="@item.Name" style="border-radius: 3px;"
                        @if (selectedCategories != null && selectedCategories.Contains(item.SlugCategory))
                        {
                            <text>checked</text>
                        } />
                                    <label class="form-check-label" for="@item.Name" style="font-size: 16px;">@item.Name</label>
                                </div>
                            </div>
            }
                    </div>
                    <div>
                        <button class="btn btn-dark btn-sm p-3 mt-2" type="submit" style="border-radius: 3px">Áp dụng lọc</button>
                    </div>
                </form>
}
        </div>
    </div>

    <!-- Danh sách truyện -->
    <div class="container-fluid mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fw-bold">Danh sách truyện</h2>
        </div>

        <!-- Danh sách truyện -->
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3">
@if (mangaList != null)
{
    foreach (var manga in mangaList)
    {
        var urlImage = $"https://otruyenapi.com/uploads/comics/{manga.Thumb_url}";
                    <div class="col">
                        <a class="card h-100 border-0 shadow-sm" asp-controller="DetailsManga" asp-action="Index">
                            <img src="@urlImage" class="card-img-top rounded" alt="@manga.Name" style="height: 100%; object-fit: cover;">
                            <div class="card-body p-2 text-center d-flex flex-column justify-content-between">
                            </div>
                            <div class="card-body p-2">
                                <h6 class="card-title text-truncate mb-0" style="font-size: 16px; word-wrap: break-word; overflow: hidden;">@manga.Name</h6>
                            </div>
                        </a>
                    </div>
    }
}
else
{
                <h2>Thể loại không có truyện</h2>
}
        </div>
    </div>

    <!-- Phân trang -->
    <div class="mt-4">
        <partial name="_Paging" model="@ViewBag.pagingModel" />
    </div>
</div>


