@using Manga.Home.Models
@using Manga.Models
<!DOCTYPE html>
<html lang="en">

@{
    var categoryList = ViewBag.CategoryList as List<BTL_WebManga.Areas.Manga.Models.CategoryModel>;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BTL_WebManga</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/BTL_WebManga.styles.css" asp-append-version="true" /> *@

    <link rel="stylesheet" href="~/css/Home/home-page.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/css_custom/css_cus.css" asp-append-version="true">
</head>

<body>
    <header class="">
        <nav class=" nav navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow  app-navbar">
            <div class="container-fluid">

                @* <partial name="_MenumanagePartial" /> *@

                <a class=" name-branch navbar-brand" asp-area="Manga" asp-controller="Home"
                    asp-action="Index">MangaHay</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class=" navbar-nav flex-grow-1 ">

                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle nav-link text-white nav_his_fa" asp-area="Manga" asp-controller="Category"
                                asp-action="Index" role="button" id="navbarDropdown" aria-expanded="false">
                                Thể loại

                                @* @categoryList.Count *@
                            </a>
                            <ul class="dropdown-menu dropdown-menu-columns" aria-labelledby="navbarDropdown"
                                style="width: auto;">
                                @if (categoryList != null)
                                {
                                    @foreach (var item in categoryList)
                                    {
                                        <li><a class="dropdown-item" asp-area="Manga" asp-controller="Category"
                                                asp-action="Index" asp-route-Slug="@item.SlugCategory">@item.Name</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item nav-link text-white nav_his_fa" asp-area="Manga" asp-controller="FavouriteComic"
                                asp-action="Index">
                                Danh sách yêu thích
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item nav-link text-white nav_his_fa" asp-area="Manga" asp-controller="ReadingHistory"
                                asp-action="Index">
                                Lịch sử xem
                            </a>

                        </li>



                    </ul>


                    <form asp-controller="Home" asp-action="Index" method="get">
                        <div class="d-flex nav navbar-nav navbar-right" style="margin-right:10%;">
                            <div class="search input-group-prepend d-flex justify-content-center">
                                <input type="text" class="search-input form-control" placeholder="Tìm kiếm truyện"
                                    name="searchName">
                                <button class="search-icon input-group-text">
                                    <img src="~/Icon/search.png" alt="Search">
                                </button>
                            </div>
                        </div>
                    </form>

                    <partial name="_LoginPartial"></partial>

                </div>




            </div>
            @* <nav class="bottom_nav" style="height: 20px; width: 100%; background: rebeccapurple;"></nav> *@
        </nav>

    </header>
    <div> @*class="container"*@
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-primary  border-top footer text-muted">
        @* <div class="container">
        &copy; 2024 - BTL_WebManga - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>