@inject SignInManager<MangaUser> SignInManager

@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow-lg border-0">
                <div class="card-body">
                    <h2 class="text-center text-primary mb-4">@ViewData["Title"]</h2>
                    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="mb-4">
                            <label asp-for="UserName" class="form-label">Tên đăng nhập</label>
                            <input asp-for="UserName" class="form-control form-control-lg" placeholder="Tên đăng nhập" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control form-control-lg" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label asp-for="Password" class="form-label">Mật khẩu</label>
                            <input asp-for="Password" class="form-control form-control-lg" type="password" placeholder="Mật khẩu" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label asp-for="ConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
                            <input asp-for="ConfirmPassword" class="form-control form-control-lg" type="password" placeholder="Xác nhận mật khẩu" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-warning w-100 btn-lg mb-3">Đăng ký</button>

                        <div class="d-flex justify-content-between mb-4">
                            <a asp-controller="Account" asp-action="Login" class="fs-6">Đã có tài khoản? Đăng nhập</a>
                        </div>
                    </form>


                    <h4>Đăng nhập bằng tài khoản.</h4>
                    <hr />
                    @{
                        var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
                        var loginProviders = schemes.ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div>
                                <p>
                                    Ứng dụng chưa hỗ trợ đăng nhập từ tài khoản ngoài
                                </p>
                            </div>
                        }
                        else
                        {
                            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            <button type="submit" class="btn btn-primary w-100 btn-lg mb-3" name="provider" value="@provider.Name" title="Log in using your @provider.Name account">@provider.Name</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
